@import url('https://fonts.googleapis.com/css?family=Enriqueta:700');

.App {
  text-align: center;
}

.App-Header {
  margin-top: 40px;
  color: #e24d97;
  font-family: 'Enriqueta', serif;
}

.title {
  font-size: 5rem;
}

.subtitle {
  font-size: 2rem;
}
