.form-container {
  margin: 50px auto;
  max-width: 425px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn-text {
  font-size: 1.4rem;
  font-weight: 600;
}
