#brand {
  text-align: left;
  left: 0;
  float: left;
  font-weight: 600;
  color: #ffcc00;
  font-size: 1.2rem;
  padding: 0 25px;
}

.nav-container {
  padding: 10px 0;
  width: 100%;
  background: #00192a;
  text-align: right;
}

.navlink {
  font-weight: 600;
  color: #42a3b8;
  padding: 0 25px;
  font-size: 1.2rem;
}

.navlink:hover {
  color: white;
}
